<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Please sign in</h3>
			 	</div>
			  	<div class="panel-body">
			  	  <div class="alert alert-danger" ng-if="error">
				    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				    <strong>Error !!</strong> {{error}}
				  </div>
			    	<form accept-charset="UTF-8" role="form" ng-submit="validateLogin(password)">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <label class="form-control bold">Welcome Dr.Madhu</label>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" ng-model="password" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>