<div class="container" >
  <div class="row">
    <div class="col-md-11">
      <div class="col-md-6"> 
        <p><a href="#/home">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#/private">Private</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#/">Logout</a></p>
      </div>
      <div class="col-md-6">
        <p><input type="text" placeholder="Search Here" ng-model="search"></p>
      </div>
    </div>
    <div class="col-md-1">  
      <p>
        <button type="button" class="btn btn-info btn-md" ng-click="refresh()">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </p>
    </div>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr class="info">
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <!-- <th>Location</th> -->
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Expecting</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat = "record in allData.data.data | filter:search">
        <td>{{$index+1}}</td>
        <td>{{record.data.person_name}}</td>
        <td>{{record.data.person_age}}</td>
        <!-- <td>{{record.data.person_address}}</td> -->
        <td>{{record.data.person_mobile_no}}</td>
        <td>{{record.data.person_email_id}}</td>
        <td>{{record.data.treatmentType}}</td>
        <td></td>
        <td>
        <div class="col-md-6">
          <button type="button" class="btn btn-info btn-sm pull-left" data-toggle="modal" data-target="#myModal" ng-click="assign(record)">View and Update</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="delete" name="delete" data-target="#confirm" ng-click="open(record)">Delete</button>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal Start-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{viewRec.data.person_name}}</h4>
        </div>
        <div class="modal-body">
        <!-- tab content start here -->
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="" ng-click="showTab('menu0')">Personal information</a></li>
            <li><a data-toggle="tab" href="" ng-click="showTab('menu1')">treatment information 1</a></li>
            <li><a data-toggle="tab" href="" ng-click="showTab('menu2')">treatment information 2</a></li>
            <li><a data-toggle="tab" href="" ng-click="showTab('menu3')">treatment information 3</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" ng-class="menu0 ? 'tab-pane fade in active' : 'tab-pane fade'" ng-show="menu0">
              <table class="table table-condensed table-hover">
                <tr class="info">
                  <td> Name </td> <td><input type="text"  ng-model="viewRec.data.person_name"> </td>
                </tr>
                <tr class="default">
                  <td> Age </td> <td> <input type="text"  ng-model="viewRec.data.person_age"> </td>
                </tr>
                <tr class="info">
                  <td> Sex </td> <td> <input type="text"  ng-model="viewRec.data.person_sex"> </td>
                </tr>
                <tr class="default">
                  <td> Occupation </td> <td> <input type="text" ng-model="viewRec.data.person_occupation"></td>
                </tr>
                <tr class="info">
                  <td> Address </td> <td> <textarea ng-model="viewRec.data.person_address"></textarea>  </td>
                </tr>
                <tr class="default">
                  <td> Mobile </td> <td>  <input type="text" ng-model="viewRec.data.person_mobile_no "></td>
                </tr>
                <tr class="info">
                  <td> Landline </td> <td> <input type="text" ng-model="viewRec.data.person_land_no "> </td>
                </tr>
                <tr class="default">
                  <td> Email </td> <td> <input type="text" ng-model="viewRec.data.person_email_id "></td>
                </tr>
                <tr class="info">
                  <td colspan="2"> How did you come to know about us </td> 
                </tr>
                <tr class="default" ng-show="viewRec.data.newspaperChecked == 'yes'">
                  <td> Newspaper </td> <td> {{ viewRec.data.newspaperChecked }} </td>
                </tr>
                <tr class="info" ng-show="viewRec.data.internetChecked == 'yes'">
                  <td> Internet </td> <td> {{ viewRec.data.internetChecked }} </td>
                </tr>
                <tr class="default" ng-show="viewRec.data.magzinesChecked == 'yes'">
                  <td> Magazines </td> <td> {{ viewRec.data.magzinesChecked}} </td>
                </tr>
                <tr class="info" ng-show="viewRec.data.tv_adsChecked == 'yes'">
                  <td> Tv advertisement </td> <td> {{ viewRec.data.tv_adsChecked }} </td>
                </tr>
                <tr class="default" ng-show="viewRec.data.abt_otherChecked == 'yes'">
                  <td> Others </td> <td> {{ viewRec.data.abt_otherChecked }} </td>
                </tr>
                <tr class="info" >
                  <td colspan="2"> Purpose of visit </td> 
                </tr>
                <tr class="default" ng-show="viewRec.data.medical_conChecked == 'yes'">
                  <td> Medical consultation of hair loss </td> <td> {{ viewRec.data.medical_conChecked}} </td>
                </tr>
                <tr class="default" ng-show="viewRec.data.enquiryChecked == 'yes'">
                  <td> Enquiry about hair transplantation </td> <td> {{ viewRec.data.enquiryChecked}} </td>
                </tr>
                <tr class="default" ng-show="viewRec.data.treatmentChecked == 'yes'">
                  <td> Treatment for hair and scalp disorders </td> <td> {{ viewRec.data.treatmentChecked}} </td>
                </tr>
                <tr class="default" ng-show="viewRec.data.other_purposeChecked == 'yes'">
                  <td> Other if any </td> <td> {{ viewRec.data.other_purposeChecked}} </td>
                </tr>
              </table>
            </div>
            <div id="menu1" ng-class="menu1 ? 'tab-pane fade in active' : 'tab-pane fade'" ng-show="menu1">
              <table class="table table-condensed table-hover">
                <tr class="info">
                  <td colspan="2"> if Hair loss is your main problem ?</td> 
                </tr>
                <tr class="default">
                  <td colspan="2"> How long you are loosing hair ?</td>
                </tr>
                <tr class="info">
                  <td>  <input type="text" ng-model="viewRec.data.hair_loos_years "> &nbsp;Years </td> 
                  <td> <input type="text" ng-model="viewRec.data.hair_loos_months ">&nbsp; Months </td>
                </tr>
                <tr class="default">
                  <td colspan="2"> How Much hair are you loosing per day ? </td> 
                </tr>
                <tr class="default">
                  <td colspan="2">  <input type="text" ng-model="viewRec.data.rough_count"></td>
                </tr>
                <tr class="info">
                  <td> Arey you loosing hair with roots including hair bulb ?</td> 
                  <td> <input type="text" ng-model="viewRec.data.checked_hair_loos_root "> </td>
                </tr>
                <tr class="default">
                  <td> Do you suspect any breakage of hair in the middle ?</td> <td> <input type="text" ng-model="viewRec.data.checked_hair_breakage "></td>
                </tr>
                <tr class="info">
                  <td> Do you think the quality of hair has decreased ?</td> 
                  <td><input type="text" ng-model="viewRec.data.checked_hair_quality "></td>
                </tr>
                <tr class="default">
                  <td> Do you think the density of hair has decreased ?</td> 
                  <td> <input type="text" ng-model="viewRec.data.checked_hair_density "></td>
                </tr>
              </table>
            </div>
            <div id="menu2" ng-class="menu2 ? 'tab-pane fade in active' : 'tab-pane fade'" ng-show="menu2">
              <table class="table table-condensed table-hover">
                <tr class="default">
                  <td colspan="2"> how about hair loss in your family ? </td> 
                </tr>
                <tr class="info">
                  <td> <strong>PERSON</strong></td><td><strong>SEVERITY OF BALDNESS</strong></td>
                </tr>
                <tr class="default">
                  <td> Father </td> <td> {{ viewRec.data.check_father_bald }} </td>
                </tr>
                <tr class="info">
                  <td colspan="1"> Peternal Grand Father </td> <td>{{ viewRec.data.check_paternal_bald }} </td>
                </tr>
                <tr class="default">
                  <td colspan="1"> Meternal Grand Father </td> <td>{{ viewRec.data.check_maternal_bald }} </td>
                </tr>
                <tr class="info">
                  <td colspan="1"> Mother </td> <td>{{ viewRec.data.check_mother_bald }} </td>
                </tr>

              </table>
            </div>
            <div id="menu3" ng-class="menu3 ? 'tab-pane fade in active' : 'tab-pane fade'" ng-show="menu3">
              <table class="table table-condensed table-hover">
                <tr class="info">
                  <td colspan="1"> Have you consulted any doctor for hair loss ? </td> <td>
                  <input type="text"  ng-model="viewRec.data.checkdoctorforhairloss"></td>
                </tr>
                <tr class="default">
                  <td colspan="2"> Are you using any medicines for hair loss ? if yes,what are they ?</td>
                </tr>
                <tr class="info">
                  <td colspan="2"> <input type="text"  ng-model="viewRec.data.medicinesUsed1">&nbsp;|&nbsp; <input type="text"  ng-model="viewRec.data.medicinesUsed2">&nbsp;|&nbsp; <input type="text"  ng-model="viewRec.data.medicinesUsed">
                  </td>
                </tr>
                <tr class="default">
                  <td colspan="2"> Do you have any other complaint other than hair loss ? if so ?</td> 
                </tr>
                <tr class="info">
                  <td colspan="2"> <input type="text"  ng-model="viewRec.data.complain_hairloss1"></td>
                </tr>
                <tr class="default">
                  <td colspan="2"><input type="text"  ng-model="viewRec.data.complain_hairloss2"> </td>
                </tr>
                <tr class="info">
                  <td colspan="1"> Name of shampoo you are using ? </td> <td> <input type="text"  ng-model="viewRec.data.shampoo_using"> </td>
                </tr>
                <tr class="default">
                  <td colspan="1"> Name of 'HAIR OIL' you are using ? </td> <td> <input type="text"  ng-model="viewRec.data.oil_using"></td>
                </tr>
                 <tr class="info">
                  <td colspan="2"> Do you have any particular reason to say for your hair loss ? if so ?</td> 
                </tr>
                <tr class="default">
                  <td colspan="2"> <input type="text"  ng-model="viewRec.data.particularreason1"> </td>
                </tr>
                <tr class="info">
                  <td colspan="2">  <input type="text"  ng-model="viewRec.data.particularreason2"> </td>
                </tr>
                <tr class="default" >
                  <td colspan="2"> What do u expect from us ? </td> 
                </tr>
                <tr class="info">
                  <td> Medical treatment for hair loss ?</td> 
                  <td> <input type="text"  ng-model="viewRec.data.treatmentType">  </td>
                </tr>
                <tr class="default">
                  <td>  hair transplantation </td> <td>  <input type="text"  ng-model="viewRec.data.treatmentType1">  </td>
                </tr>
                <tr class="info" >
                  <td> Tests like Tricho-analysis </td> <td><input type="text"  ng-model="viewRec.data.treatmentType2">  </td>
                </tr>
                <tr class="default" >
                  <td> doctor note 1 </td> <td><textarea rows="4" cols="50" ng-model="viewRec.data.doctorNote1" ng-change="updateRecM1(viewRec)" ></textarea> </td>
                </tr>
                <tr class="info" >
                  <td> doctor note 2 </td> <td><textarea rows="4" cols="50" ng-model="viewRec.data.doctorNote2" ng-change="updateRecM1(viewRec)"></textarea> </td>
                </tr>
              </table>
            </div>
          </div>
        <!-- tab content end here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="savePrivateRec(viewRec)">Save as Private</button>
          <button type="button" class="btn btn-warning" ng-click="updateRec(viewRec)">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<!-- Modal End-->

